body {
    margin: 0;
    background: #e1f6f6;
    font-family: 'Ubuntu', sans-serif;
}

ul {
 list-style-type: none;
 margin: 0;
 padding: 0;
 overflow: hidden;
 background-color: #e1f6f6;
}

a {
 text-decoration: none;
}

.nav-right {
 float: right;
}

li {
 float: left;
}

li a {
 display: block;
 color: #333;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
 border-radius: 7px;
}

li a:hover {
 background-color: #77d8d8;
}

.active {
 background-color: #baeae6;
 border-radius: 5px;
}

.container {
 display: grid;
 grid-template-rows: 100px 100px 600px 60px;
 grid-template-columns: 600px 610px;
 grid-template-areas: "hd hd hd hd hd hd hd hd" 
 "d d d d d d d d" 
 "main main main main main main main main" 
 "ft ft ft ft ft ft ft ft"; 
}

.header {
 grid-area: hd;
 margin: auto;
 color: #111;
}

.header-desc {
 grid-area: d;
 display: grid;
 grid-template-columns: 180px 820px 210px;
}

.middle {
 grid-area: main;
 display: grid;
 grid-template-columns: 180px 820px 210px;
 grid-gap: 20px;
}

.description{
 margin: 0 60px 0 120px;
 color: #555;
}

.author{
 font-style: italic;
 color: #706c61;
 font-weight: 100;
}

.keywords{
 margin: 70px 0;
}

h3{
 margin: 0;
}

p{
 color: #555;
 font-family: 'Lato', sans-serif;
}

.content{
 padding: 0 40px 50px;  
}

.icon{
 padding-left: 80px ;
}

.icon1{
 color: #296c92;
}

.icon1:hover{
 color: #666;
}

.link{
 text-decoration: none;
 padding: 10px 10px;
 color: #111;
 border:  solid #333;
 background: #baeae6;
 border-radius: 10px;
 margin: 0 30px;
}

.link:hover{
 transform: scale(1.1);
 box-shadow: 2px 4px #706c61;
}

.linkdiv{
 margin: 0 50px;
}

/*Footer*/
.footer {
 grid-area: ft;
 text-align: center;
 height: 50px;
 background: #e1f6f6;
 color: #333;
 margin: 100px 0 0;
 border: none;
}

.footer:hover {
 color: #11999E;
}